    <section class="position-relative section1 w-100" style="height: calc(100vh - 32px);">
        <!-- <div class="horizontal_line_container">
            <div class="horizontal_line"></div>
        </div> -->
        <!-- <div class="vertical_line_container">
            <div class="vertical_bal" id="draggable-div"
            (mousedown)="onGrab()" (mouseup)="onLetGo()" (mouseout)="onLetGo()"></div>
            <div class="vertical_bal" id="draggable-div"></div>
            <div class="vertical_line"></div>
        </div> -->
        <div class="d-flex position-relative w-100">
            <video preload="true" autoplay loop muted #Topvideo
            style="height: 90vh;position: absolute;z-index: 2;top: 7vh;left: 100px;border: 1px solid black;">
                <source src="../../../assets/videos/landing_page_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="mesh1"></div>
            <div class="redrect parallax" data-parallax="0.5">
                <div class="bg-text glitch" data-text='"We leverage technology and creativity with a great brand story to help you accelerate your growth."'>
                    "We leverage technology and creativity with a great brand story to help you accelerate your growth."
                </div>
                <!-- <div class="spotlight" id="spotlight"></div> -->
            </div>
        </div>
        <div style="height:30%;"></div>  
    </section>

<div class="social" id="social">
    <div>
        <img src="../../../assets/inc/logos/logoo2.png" id="whatsapp" width="47" height="47">
    </div>
    <div class="my-2">
        <img src="../../../assets/inc/logos/logoo1.png" id="insta" width="47" height="47">
    </div>
    <div>
        <img src="../../../assets/inc/logos/logoo.png" id="linkedin" width="47" height="47">
    </div>
</div>
