<section class="px-5 position-relative section1">
    <div class="horizontal_line_container">
        <div class="horizontal_line"></div>
    </div>
    <div class="vertical_line_container">
        <div class="vertical_bal"></div>
        <div class="vertical_line"></div>
    </div>
    <div class="d-flex position-relative">
        <video preload="true" width="50%" autoplay loop muted #Topvideo
        style="height: 400px;position: absolute;z-index: 2;top: 170px;left: 100px;">
            <source src="../../../assets/videos/landing_page_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="mesh1"></div>
        <div class="redrect"></div>
    </div>

    <div style="height: 150px;"></div>
</section>
<div class="banner_container">
    <div class="divider"></div>
    <div class="scroll text4 BrownStdRegular">
        <div>
        "We assist from seed sown to tree grown."
        </div>
        <div>
        "We assist from seed sown to tree grown."
        </div>
    </div>
    <div class="divider"></div>
</div>


<div class="social">
    <div>
        <img src="../../../assets/incubrassets/wp.png" alt="">
    </div>
    <div>
        <img src="../../../assets/incubrassets/insta.png" alt="">
    </div>
    <div>
        <img src="../../../assets/incubrassets/linked.png" alt="">
    </div>
</div>