<section class="position-relative section1 w-100">
    <div class="d-flex top_cont position-relative w-100">
        <div class="mesh1">
            <img src="../../../assets/inc/topmesh.png" style="width: 100%;height: 100%;">
        </div>

        <!-- DESKTOP -->
        <div class="redrect parallax desktop" data-parallax="0.5">
            <div class="bg-text glitch" data-text='"Leverage technology and creativity with a great brand story to help you accelerate your growth."'>
                "Leverage technology and creativity with a great brand story to help you accelerate your growth."
            </div>
        </div>

        <!-- MOBILE -->
        <div class="redrect mobile">
            <div class="bg-text glitch" data-text='"Leverage technology and creativity with a great brand story to help you accelerate your growth."'>
                "Leverage technology and creativity with a great brand story to help you accelerate your growth."
            </div>
        </div>


        <video preload="true" playsinline autoplay loop muted #Topvideo class="hellovideo">
            <source src="../../../assets/videos/topv.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>  

<div class="social desktop" id="social">
    <div>
        <img src="../../../assets/inc/logos/logoo2.png" id="whatsapp" width="47" height="47">
    </div>
    <div class="my-2">
        <img src="../../../assets/inc/logos/logoo1.png" id="insta" width="47" height="47">
    </div>
    <div>
        <img src="../../../assets/inc/logos/logoo.png" id="linkedin" width="47" height="47">
    </div>
</div>
