<div class="modal fade" id="corporationModal" tabindex="-1" role="dialog" aria-labelledby="corporationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body modal90">

          <div  style="margin-left: 1.5vw;margin-top: 1.5vw"
          class="d-flex justify-content-between align-items-center position-relative z5">
            <div>
                <img src="../../../assets/ourwork/incuber logo.png" class="logo_">
                <!-- <div  style="background: white;padding: 4px 10px;color: black;">
                    <div class="Dosis" style="font-weight: bold;font-size: 45px;line-height: 45px;">incubr</div>
                </div> -->
            </div>
              <div>
                  <img src="../../../assets/inc/menu.png" width="57" height="57">
              </div>
          </div>

          <div class="cont">
            <div class="d-flex justify-content-end">
              <div class="corporationstxt">
                corporations
              </div>
            </div>
            <div class="d-block d-md-flex justify-content-end h-100 mt-2">
              <div class="d-flex align-items-end">
                <div class="sidetxt">
                  We work closely with you to find that blue ocean route, and leverage technology and innovative growth strategies to create maximum value for the user. 
                </div>
              </div>

              <div class="boxescontainer p-3">
                <div class="row">
                  <div class="col-3 mt-4" *ngFor="let item of ['Landscape research','User experience deep dive','New Growth Canvas','New products and Technology','Cross Domain Synergies','Growth Marketing','Resources & alliances','New Value Proposition']">
                    <div class="frame bg-white">
                      <div class="d-flex h-100 align-items-end">
                        <div class="BrownStdBold" style="color:black;margin-left: 5px;margin-bottom: 10px;">
                          {{item}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  