<div class="m-5"></div>
<div class="p-2 p-md-5">
    <div class="title mb-5">
        about us
    </div>
    <div class="d-block d-md-flex justify-content-end mt-2 mt-md-5 p-3">
        <div>
            <div style="max-width: 750px;" class="text">
                We’re a squad of problem solvers who believe in collaborative success. 
            </div>
            <div style="max-width: 750px;" class="text mt-4">
               Founded by industry veterans and entrepreneurs with decades worth of astounding experience. Incubr is your one-stop destination for unmatched design and development.
            </div>
        </div>
    </div>
</div>
<div class="p-2 p-md-5"></div>
<hr>