<div class="m-5"></div>
<div class="p-2 p-md-5">
    <div class="title mb-5">
        about us
    </div>
    <div class="m-0 p-2 m-md-5 p-md-5"></div>
    <div class="d-block d-md-flex justify-content-end mt-2 mt-md-5 p-3 pt-5 mb-5">
        <div>
            <div style="max-width: 750px;" class="text">
                We’re a squad of problem solvers who believe in collaborative success.
            </div>
            <div style="max-width: 750px;" class="text mt-5">
                Founded by industry veterans and entrepreneurs with decades worth of astounding experience. Incubr is
                your one-stop destination for unmatched design and development.
            </div>
        </div>
    </div>
</div>
<div style="height: 150px;"></div>
<hr>