<div class="footer d-flex">
    <div style="margin-top: 167px;margin-right: 24px;margin-bottom: 153px;
    width: max-content;margin-left: 152px;">
        <div class="text">START UPS</div>
        <div class="text">CORPORATION</div>
        <div class="text">CLIENTS</div>
        <div class="text">BLOGS</div>
        <div class="text">SHARING CREATIVITY</div>
        <div class="text">CONTACT US</div>
    </div>
    <div style="margin-top: 40px;" class="inner_footer">
        <div class="media">
            <div style="height: 140px;"></div>
            <!-- <div>
                <img src="../../../assets/incubrassets/wp.png" alt="">
            </div>
            <div>
                <img src="../../../assets/incubrassets/insta.png" alt="">
            </div>
            <div>
                <img src="../../../assets/incubrassets/linked.png" alt="">
            </div> -->
        </div>
        
        <div>
            <div class="footerspan" style="margin-left: auto;margin-right: 103px;
            margin-top: 90px;font-weight: bold;font-size: 32px;">
                incubr
            </div>
            <div class="footerspan" style="margin-left: auto;margin-right: 103px;">
                Copyright Incubr © 2020
            </div>
            <div class="footerspan" style="margin-left: auto;margin-right: 103px;">
                At Incubr, we are having fun, and help brands invent, experiment, massively grow with calculated risks, breaking rules and creating impact in their domains.
            </div>
        </div>
    </div>
</div>
