.footer{
    background: black;
    position: relative;
    top: -10vw;
}
.footer .text{
    color: white;
    font-size: 12px;
    text-align: right;
    font-family: "LeagueSpartan";
    width: max-content;
    margin-top: 20px;
}
.inner_footer{
    border-top: white solid 4px;
    border-left: white solid 4px;
    width: 100%;
}

.media{
    margin-top: 27px;
    margin-left: 28px;
}

.footerspan{
    font-family: BrownStdLight,BrownStdBold,AdobeInvisFont,MyriadPro-Regular;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 29px;  
    text-align: left;
    width: 19vw;
}