<div class="pl-5 justify-content-between align-items-center mt-5 position-relative z5 desktop-flex" style="padding-right: 1.35vw;">
    <div class="mt-3">
            <img src="../../../assets/ourwork/incuber logo.png" alt="" style="width: 18vw;">
    </div>
    <div (click)="data.toggleMenu()">
        <img src="../../../assets/inc/menu.png" width="57" height="57">
    </div>
</div>
<div class="mobile-flex justify-content-center">
    <img src="../../../assets/ourwork/incuber logo.png" class="mobilelogo">
</div>