.rocket_text{
    // font-size: 90px;
    // line-height: 90px;
    font-size: 6.59vw;
    line-height: 6.59vw;
    color: white;
    font-family: BrownStdBold;
}

.startup_pos{
    top: 20vh;
    left: 29vw;
}

.parallax {
    // color: white;
    // font-size: 2rem;
    // text-align: center;
    // font-family: 'helvetica';
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
  }
  

.second{
  //MOVING BOARD
.banner_container{
    width: 100%;
    overflow: hidden;
}
.scroll {
    display: flex;
    width: 100%;
    div {
      font-size: 50px;
      color: #545454;
      white-space: nowrap;
        animation: animate2 40s linear infinite;
    }
    span {
      -webkit-text-stroke: 2px #000000;
      color: #ffffff;
    }
  }
}
  @keyframes animate2 {
    0% {
      transform: translateX(92%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


.first{
  //MOVING BOARD BRANDS
  .banner_container{
    width: 100%;
    overflow: hidden;
  }
  .scroll {
    display: flex;
    width: 200vw;
    overflow: hidden;
    div:nth-child(1) {
      // transform: translateX(113%);
        animation: animate 20s linear infinite;
    }
    div:nth-child(2) {
      transform: translateX(-80%);
        // animation: animate10 20s linear infinite;
    }
  }
}
@keyframes animate {
  from {
    transform: translateX(113%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes animate10 {
  from {
    transform: translateX(360%);
  }
  to {
    transform: translateX(-200%);
  }
}

.divider{
    background-color: #020024;
    height: 3px;
    width: 100%;
}


@media screen and (max-width: 1100px) {
  .first{
    .scroll {
      display: flex;
      width: max-content;
      overflow: hidden;
      div:nth-child(1) {
        // transform: translateX(113%);
          animation: animate 20s linear infinite;
      }
      div:nth-child(2) {
        transform: translateX(-80%);
          // animation: animate10 20s linear infinite;
      }
    }
  }
}

.wevideo{
  width: 100vw;
}

@media screen and (max-width: 1100px) {
  .wevideo {
    height: auto !important;
    width: 100vw;
    left: 0;
    position: static;
  }
}