<div class="position-relative" style="z-index: 3;" style="top:-100px">
    <div class="d-flex justify-content-between" style="z-index:3;position: relative;">
        <div>
            <div style="height: 97px;"></div>
          <img src="../../../assets/incubrassets/rocket.png" style="width: 60vw;height: 70vh;">  
        </div>
        <!-- <div style="overflow: hidden;">
            <img class="parallax" data-parallax="0.5" src="../../../assets/incubrassets/Ellipse.png" style="margin-top: 48px;margin-right: 80px;">
        </div> -->
    </div>
    
    <div class="position-absolute startup_pos" style="z-index:3;overflow: hidden;">
        <div style="display: block;left:150px;" class="px-2 position-relative">
            <span class="rocket_text" style="font-family:BrownStdBold">We he<span style="color: black;">lp</span>
            </span>
        </div>
        <div style="background: black;display: block;margin-top: 40px;width: fit-content;" class="px-2">
            <span class="rocket_text">START UPS</span>
        </div>
        <div style="left:200px;top:-15px;z-index: 2;" class="px-2 position-relative">
            <span class="rocket_text" style="font-family:BrownStdBold">&</span>
        </div>
        <div style="background: black;top: -45px;display: inline-block" class="px-2 position-relative">
            <span class="rocket_text">CORPORATIONS</span>
        </div>
    </div>

    <div class="position-absolute" style="top:478px;z-index: 2;width: 100%;">
        <img src="../../../assets/inc/mesh2-.png"  style="width: 100%;height: 150vh;"> 
        <div style="height:426px;width: 100%;">

                <div class="scroll text4 w-100 mt-5" style="overflow:hidden;">
                    <div class="d-flex" >
                        <img src="../../../assets/images/c-1.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-2.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-3.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-4.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-5.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                    </div>
                </div>

                <div class="scroll text4 w-100 mt-5" style="overflow:hidden;">
                    <div class="d-flex" >
                        <img src="../../../assets/images/c-1.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-2.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-3.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-4.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-5.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                    </div>
                </div>

                <div class="scroll text4 w-100 mt-5" style="overflow:hidden;">
                    <div class="d-flex" >
                        <img src="../../../assets/images/c-1.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-2.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-3.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-4.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        <img src="../../../assets/images/c-5.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                    </div>
                </div>

        </div>
    </div>
</div>
