<div class="position-relative" style="z-index: 3;">
    <div class="d-flex justify-content-between" style="z-index:3;position: relative;">
        <div>
            <div style="height: 97px;"></div>
          <img src="../../../assets/incubrassets/rocket.png" style="width: 962px;height: 646px;">  
        </div>
        <div>
            <img src="../../../assets/incubrassets/Ellipse.png" style="margin-top: 48px;margin-right: 25px;">
        </div>
    </div>
    
    <div class="position-absolute startup_pos" style="z-index:3;">
        <div style="background: black;display: inline-block;" class="px-2">
            <span class="rocket_text">START UPS</span>
        </div>
        <div style="background: black;margin-top: 122px;" class="px-2">
            <span class="rocket_text">CORPORATIONS</span>
        </div>
    </div>

    <div class="position-absolute" style="top:478px;z-index: 2;">
        <img src="../../../assets/bgmesh/mesh2.png" style="width: 100%"> 
        <div style="height:426px;width: 100%;background: blanchedalmond;">

        </div>
    </div>
</div>
