<div class="desktop">
    <div class="first">
        <div class="banner_container" style="z-index: 1;background: black;">
            <div class="divider mb-2"></div>
            <div class="scroll BrownStdRegular">
                <div style="font-size: 30px;color: white;background: black;">
                 ‘’Level up your game, no matter what stage you are in, be it a seed sown or a tree grown’’
                </div>
            </div>
            <div class="divider mt-2"></div>
        </div>  
    </div>
    
    
    <div class="position-relative" style="z-index: 3;" style="max-width: 100vw;">
        <div style="height: 10vh;"></div>
        <div class="d-flex justify-content-between" style="z-index:3;position: relative;">
            <div>
                <video playsinline preload="true" class="wevideo" autoplay loop muted #rocketbvideo> 
                    <source src="../../../assets/videos/rocket_3.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
    
                <div class="position-absolute" style="z-index:3;overflow: hidden;top: 0%;left: 0%;height: 100%;width: 100%;">
                    <div class="d-flex align-items-end h-100">
                        <div style="margin-bottom: 5vw;margin-left: 5vw;">
                            <div >
                                <div class="rocket_text" style="font-family:BrownStdBold;color: black;margin-bottom: 3vw;">We he<span >lp</span> both
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div data-toggle="modal" data-target="#startupModal" style="background: black;padding-top: 1vw;display: block;width: fit-content;cursor: pointer;" class="px-2">
                                    <span class="rocket_text">START UPS</span> 
                                </div>
                                <div class="rocket_text" style="font-family:BrownStdBold;margin-left: 3vw;">&</div>
                            </div>
    
                            <div data-toggle="modal" data-target="#corporationModal" style="background: black;padding-top: 1vw;display: inline-block;cursor:pointer;margin-top: 2vw;" class="px-2 position-relative">
                                <span class="rocket_text">CORPORATIONS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div style="overflow: hidden;">
                <img class="parallax" data-parallax="0.5" src="../../../assets/incubrassets/Ellipse.png" style="margin-top: 48px;margin-right: 80px;">
            </div> -->
        </div>
        
        <!-- <div class="position-absolute startup_pos" style="z-index:3;overflow: hidden;">
            <div style="display: block;left:11vw;" class="px-2 position-relative">
                <span class="rocket_text" style="font-family:BrownStdBold">We he<span style="color: black;">lp</span>
                </span>
            </div>
            <div data-toggle="modal" data-target="#startupModal" style="background: black;padding-top: 1vw;display: block;margin-top: 40px;width: fit-content;cursor: pointer;" class="px-2">
                <span class="rocket_text">START UPS</span>
            </div>
            <div style="left:200px;top:-15px;z-index: 2;" class="px-2 position-relative">
                <span class="rocket_text" style="font-family:BrownStdBold">&</span>
            </div>
            <div data-toggle="modal" data-target="#corporationModal" style="background: black;padding-top: 1vw;top: -45px;display: inline-block;cursor:pointer" class="px-2 position-relative">
                <span class="rocket_text">CORPORATIONS</span>
            </div>
        </div> -->
    
    
    
        <div class="position-absolute" style="top:35vw;z-index: 2;width: 100%;">
            <img src="../../../assets/inc/mesh.png"  style="height: 70vw;margin-left: 10vw;margin-right: 10vw;width: 80vw;"> 
            <div style="height:426px;width: 100%;" class="second">
    
                    <!-- <div class="scroll text4 w-100 mt-5" style="overflow:hidden;">
                        <div class="d-flex" >
                            <img src="../../../assets/images/c-1.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-2.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-3.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-4.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-5.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        </div>
                    </div>
    
                    <div class="scroll text4 w-100 mt-5" style="overflow:hidden;">
                        <div class="d-flex" >
                            <img src="../../../assets/images/c-1.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-2.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-3.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-4.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-5.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        </div>
                    </div>
    
                    <div class="scroll text4 w-100 mt-5" style="overflow:hidden;">
                        <div class="d-flex" >
                            <img src="../../../assets/images/c-1.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-2.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-3.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-4.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                            <img src="../../../assets/images/c-5.svg" alt="" width="200px" height="40px" style="margin-left: 50px;">
                        </div>
                    </div> -->
    
            </div>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="first">
        <div class="banner_container" style="z-index: 1;background: black;">
            <div class="divider mb-2"></div>
            <div class="scroll BrownStdRegular">
                <div style="font-size: 30px;color: white;background: black;">
                 ‘’Level up your game, no matter what stage you are in, be it a seed sown or a tree grown’’
                </div>
            </div>
            <div class="divider mt-2"></div>
        </div>  
    </div>
    
    
    <div class="position-relative" style="z-index: 3;" style="max-width: 100vw;">
        <div style="height: 10vh;"></div>
        <div class="d-flex justify-content-between" style="z-index:3;position: relative;">
            <div>
                <video preload="true" playsinline autoplay loop muted #rocketbvideo1 class="wevideo"> 
                    <source src="../../../assets/videos/rocket_3.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
    
                <div class="position-absolute" style="z-index:3;overflow: hidden;top: 0%;left: 0%;height: 100%;width: 100%;">
                    <div class="d-flex align-items-center justify-content-center h-100 text-center">
                        <div style="margin-bottom: 5vw">
                            <div >
                                <div class="rocket_text" style="font-family:BrownStdBold;color: black;margin-bottom: 3vw;font-size: 9vw;line-height: 9vw;">We he<span >lp</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <div data-toggle="modal" data-target="#startupModal" style="background: black;padding-top: 1vw;display: block;width: fit-content;cursor: pointer;" class="px-2">
                                    <span class="rocket_text" style="font-size: 9vw;line-height: 9vw;">START UPS</span> 
                                </div>
                            </div>
    
                            <div data-toggle="modal" data-target="#corporationModal" style="background: black;padding-top: 1vw;display: inline-block;cursor:pointer;margin-top: 2vw;" class="px-2 position-relative">
                                <span class="rocket_text" style="font-size: 9vw;line-height: 9vw;">CORPORATIONS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="position-absolute" style="top:35vw;z-index: 2;width: 100%;">
            <img src="../../../assets/inc/mesh.png"  style="height: 70vw;margin-left: 10vw;margin-right: 10vw;width: 80vw;"> 
            <div style="height:426px;width: 100%;" class="second">
            </div>
        </div>
    </div>
</div>

<app-corporationspopup></app-corporationspopup>
<app-startuppopup></app-startuppopup>
