.rocket_text{
    // font-size: 90px;
    // line-height: 90px;
    font-size: 6.59vw;
    line-height: 6.59vw;
    color: white;
}

.startup_pos{
    top: 20vh;
    left: 62vh;
}

.parallax {
    // color: white;
    // font-size: 2rem;
    // text-align: center;
    // font-family: 'helvetica';
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
  }
  

  //MOVING BOARD
.banner_container{
    width: 100%;
    overflow: hidden;
}
.scroll {
    display: flex;
    width: 100%;
    div {
      font-size: 50px;
      color: #545454;
      white-space: nowrap;
        animation: animate2 40s linear infinite;
    }
    span {
      -webkit-text-stroke: 2px #000000;
      color: #ffffff;
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateX(92%);
    }
    100% {
      transform: translateX(-100%);
    }
  }