.wwdtext{
    font-family: BrownStdBold;
    display: inline-block;
    position: relative;
    font-size: 120px;
    text-align: center;
    line-height: initial;
    text-shadow: -1px 1px 0 #020025,
    1px 1px 0 #020025,
    1px -1px 0 #020025,
    -1px -1px 0 #020025;
    transition: 0.5s;
    color: white;
}

.wwdtext:hover{
    color: #020025;
}
.wwdtext::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #020025;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.wwdtext:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.margin__card{
    margin: 0px 100px;
}

.wwdsubtext{
    width: 600px;
    color: #02002E;
    font-size: 30px;
    line-height: initial;
    text-align: center;
}

.card{
    border: 2px solid #000000;
    border-radius: 11px;
    padding: 20px;
    max-width: 270px;
}

.card_header{
    padding-top: 20px;
    font-family: BrownStdBold;
    font-size: 30px;
    color: #020025;
    // text-shadow: -1px 1px 0 #020025,
    // 1px 1px 0 #020025,
    // 1px -1px 0 #020025,
    // -1px -1px 0 #020025;
    // color: white;
    text-align: center;
}

.card_body{
    font-family: BrownStdLight;
    font-size: 16px;
    color: #02002E;
    margin-top: 40px;
    min-height: 170px;
    text-align: center;
}

.card_button{
    margin-top: 30px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid #020025;
    border-radius: 13px;
    opacity: 1;
    padding: 7px 30px;
}



@media screen and (max-width: 600px) {
    .wwdtext{
        font-size: 50px;
    }
    .wwdsubtext{
        font-size: 20px;
    }
    .card_header{
        font-size: 20px;
    }
    .card_body{
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .card{
        margin: auto !important;
        margin-top: 20px !important;
    }
}