//CHANGE
.titlecontainer{
    background: #C4C4C4;
    color: white;
    font-family: BrownStdRegular;
    font-size: 4vw;
}

.textcontainer{
    max-width: 80vw;
    margin-left: 7vw;
}
.datetext{
    font-family: BrownStdRegular;
    font-size: 1.6vw;
    margin-top: 4vw;
}
.maintext{
    font-family: BrownStdLight;
    font-size: 1.6vw;
    margin-top: 4vw;
}


.card_title{
    font-family: BrownStdBold;font-size: 2vw;
}
.card_subtitle{
    font-family: BrownStd;font-size: 1.2vw;margin-top: 2.8vw;
    margin-bottom: 2vw;
    height: 10vw;
}
.card_datetext{
    margin-top: auto;
}


@media screen and (max-width: 770px) {
    .card_title{
        font-size: 4.5vw;
    }
    .card_subtitle{
        margin-top: 3.2vw;
        font-size: 3.8vw;
        height: 43vw;
    }
    .datetext{
        margin-top: 3.2vw;
        font-size: 3.8vw;
    }
    .headertitle{
        font-size: 5.8vw !important;
    }



    .datetext{
        font-size: 3vw;
        margin-top: 4vw;
    }
    .maintext{
        font-size: 3vw;
        margin-top: 4vw;
    }
    .titlecontainer{
        background: #C4C4C4;
        color: white;
        font-family: BrownStdRegular;
        font-size: 4.5vw;
    }
}