<span id="blogdetailtop"></span>
<div class="titlecontainer">
    <div style="max-width: 58vw;padding-top: 12vw;margin-left: 8vw;padding-bottom: 4vw;">
        <!-- TITLE HERE ALL IN CAPS NICE AND GOOD , YUP JUST HERE IS THE TITLE, -->
        {{blogdetail.title}}
    </div>
</div>
<div class="textcontainer">
    <div class="datetext">
        {{blogdetail.created_at | date}} . views 20
    </div>
    <div class="maintext">
        {{blogdetail.body}}
    </div>
    <div class="maintext">
        {{blogdetail.body2}}
    </div>

    <div class="datetext" style="margin-top: 15vw;">
        Keep reading -
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mt-4 text-white" *ngFor="let item of blogslist;let i = index" routerLink="/blog/{{item.id}}">
            <div class="w-100 h-100" style="background: #C4C4C4;padding:3vw">
                <div style="margin-top: 9vw;">
                    <div class="card_title">
                        {{item.title}}
                    </div>
                    <div class="card_subtitle">
                        {{limitWords(item.body,50,'')}}
                    </div>
                    <div class="d-flex justify-content-between card_datetext">
                        <div>
                            {{item.created_at | date}}
                        </div>
                        <div>
                            views 20
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-5"></div>