<div class="container">
    <div class="m-md-5 m-1 "></div>
    <div class="detail_text mt-5">
        {{blogdetail.title}}
    </div>

    <img class="w-100 imagefull mt-5" src="{{(blogdetail.images?.length>0)?blogdetail.images[0]?.image:''}}" alt="">

    <hr class="mt-5">

    <div class="card_subtitle mt-3">{{blogdetail.created_at | date}}</div>

    <div class="detail_subtext mt-5">
        {{blogdetail.body}}
    </div>

    <!-- <div class="card_subtitle mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    </div>
    <div class="card_subtitle mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    </div> -->
    <div class="mt-5" [innerHtml]="blogdetail?.description_1"></div>

    <img class="w-100 imagefull mt-5" src="{{(blogdetail.images?.length>1)?blogdetail.images[1]?.image:''}}" alt="">

    <div class="card_subtitle mt-5">
        {{blogdetail.body2}}
    </div>
    <!-- <div class="card_subtitle mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    </div> -->
    <div class="mt-5" [innerHtml]="blogdetail.description_1"></div>

    <hr class="mt-5">

    <div class="keepreading mt-5">
        ...keep reading
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-6" *ngFor="let item of blogslist">
            <div class="card_ mt-3" style="cursor: pointer;" routerLink="/blog/{{item.id}}">
                <div>
                    <img src="{{(item.images.length>0)?item.images[0]?.image:''}}" alt="" width="100%" height="280px">
                </div>
                <div class="p-1 p-md-3">
                    <div class="card_title text-center">
                        {{item.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-end mt-4" style="text-decoration: underline;font-size: 20px;cursor: pointer;" routerLink="/blog">
        more blogs ></div>

    <div class="m-5"></div>
</div>