<div class="">
    <div class="title">
        our work
    </div>
    <div style="height: 30px;"></div>
    <div class="d-block d-md-flex justify-content-between">
        <div class="card">
            <div class="card_body">

                <div id="myCarousel_ourwork" class="carousel slide" data-ride="carousel" >
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel_ourwork" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel_ourwork" data-slide-to="1"></li>
                        <li data-target="#myCarousel_ourwork" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="./assets/images/ourwork_.png" class="card_img" alt="" srcset="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/ourwork2_.png" class="card_img" alt="" srcset="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/ourwork1_.png" class="card_img" alt="" srcset="">
                        </div>
                    </div>
                </div>

                <!-- <img src="./assets/images/ourwork_.png" class="card_img" alt="" srcset=""> -->
            </div>
            <div class="d-flex justify-content-center p-3" style="font-size: 15px;">
                Work title 1
            </div>
        </div>

        <div class="card margin__card">
            <div class="card_body">
                <img src="./assets/images/ourwork1_.png" class="card_img" alt="" srcset="">
            </div>
            <div class="d-flex justify-content-center p-3" style="font-size: 15px;">
                Work title 1
            </div>
        </div>

        <div class="card">
            <div class="card_body">
                <img src="./assets/images/ourwork2_.png" class="card_img" alt="" srcset="">
            </div>
            <div class="d-flex justify-content-center p-3" style="font-size: 15px;">
                Work title 1
            </div>
        </div>

    </div>
    <div style="height: 30px;"></div>
    <div class="d-flex justify-content-end align-items-center">
        <!-- <div> -->
            <div class="anchor d-flex align-items-center justify-content-end">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </div>
                <div style="margin-left: 30px;">
                    EXPLORE MORE
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>
<!-- <div style="text-align: end;">
    <div class="anchor row">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </div>
        <div class="mx-2 mx-md-4">
            EXPLORE MORE
        </div>
    </div> 
</div> -->