<div class="position-relative" style="z-index: 3;">
    <div class="d-flex justify-content-center">
        <div style="background: black;display: inline-block;margin: auto;
        z-index: 3;" 
            class="px-2 position-relative">
                <div class="client_text">
                    OUR WORK
                </div>
        </div>
    </div>

    <div>
        <div class="d-flex justify-content-center" style="position: relative;top:-30px">
            <div class="portfolioFrame">
                <img style="height: 100%;width: 100%;" src="assets/images/p_xoxoday.png">
            </div>
            <div style="width: 38px;"></div>
            <div class="portfolioFrame" style="margin-top: 106px;">
                <img style="height: 100%;width: 100%;" src="assets/images/p_kite.png">
            </div>
        </div>
        <div class="d-flex justify-content-center" style="position: relative;top:-98px">
            <div class="portfolioFrame">
                <img style="height: 100%;width: 100%;" src="assets/images/p_better.png">
            </div>
            <div style="width: 38px;"></div>
            <div class="portfolioFrame" style="margin-top: 106px;">
                <img style="height: 100%;width: 100%;" src="assets/images/p_techcrumb.png">
            </div>
        </div>
    </div>
</div>