<div class="desktop" *ngIf="!data.ismobileScreen">
  <div style="height:10vh;"></div>
  <div class="position-relative" style="z-index: 3;top: -99px;" id="ourwork">
    <div class="position-absolute w-100" style="top: 13vw;">
      <img src="../../../assets/inc/m3.svg" style="width: 100%;height: 1855px;"> 
    </div>
  
      <div class="d-flex justify-content-center">
          <div style="background: black;display: inline-block;margin: auto;
          z-index: 3;" 
              class="px-2 position-relative">
                <div class="client_text">
                    OUR WORK
                </div>
          </div>
      </div>
  
      <div>
          <div class="d-flex justify-content-center mt-2" style="position: relative;">
              <div class="portfolioFrame">
                  <div class="content">
                        <a href="https://xoxoday.com" target="_blank" style="height: 100%;width: 100%;">
                          <div class="content-overlay"></div>
                          <img class="content-image" src="../../../assets/ourwork/site1c.webp">
                          <!-- <div class="content-image" id="image1"></div> -->
                          <div class="content-details fadeIn-bottom">
                            <div class="d-flex justify-content-center">
                              <a href="https://xoxoday.com" target="_blank"  class="buttonhover d-flex align-items-center">
                                <div class="btnbordr"></div>
                                Visit Website 
                                  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                  </svg>
                              </a>                            
                            </div>
                          </div>
                        </a>    
                  </div>
                  <!-- <img style="height: 100%;width: 100%;" src="assets/images/p_xoxoday.png"> -->
              </div>
              <div style="width: 38px;"></div>
              <div class="portfolioFrame" style="margin-top: 106px;">
                  <div class="content">
                      <a href="https://kite.work" target="_blank" style="height: 100%;width: 100%;">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="../../../assets/ourwork/site2c.webp">
                        <!-- <div class="content-image" id="image2"></div> -->
                        <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://kite.work" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div>
                      </a>
                    </div>
              </div>
          </div>
          <div class="d-flex justify-content-center" style="position: relative;top:-80px">
              <div class="portfolioFrame">
                  <div class="content">
                      <a href="https://getbetter.co" target="_blank" style="height: 100%;width: 100%;">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="../../../assets/ourwork/site3c.webp">
                        <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://getbetter.co" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div>
                      </a>
                    </div>
              </div>
              <div style="width: 38px;"></div>
              <div class="portfolioFrame" style="margin-top: 106px;">
                  <div class="content">
                      <a href="https://techcrumb.com" target="_blank" style="height: 100%;width: 100%;">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="../../../assets/ourwork/site4c.webp">
                        <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://techcrumb.com" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div>
                      </a>
                    </div>
              </div>
          </div>
  
          <div class="d-flex justify-content-center" style="position: relative;top:-160px">
              <div class="portfolioFrame">
                  <div class="content"> 
                      <a href="https://cognition.link" target="_blank" style="height: 100%;width: 100%;">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="../../../assets/ourwork/site5c.webp">
                        <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://cognition.link" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div>
                      </a>
                    </div>
              </div>
              <div style="width: 38px;"></div>
              <div style="margin-top: 106px;border:none;width: 454px;height: 641px;">
                  
              </div>
          </div>
          
      </div>
  </div>
</div>



<div class="mobile" *ngIf="data.ismobileScreen">
  <div style="height:10vh;"></div>
  <div class="position-relative" style="z-index: 3;top: -99px;">
    <div class="position-absolute w-100" style="top: 13vw;max-height: 104vw;overflow: hidden;">
      <img src="../../../assets/inc/m3.svg" style="width: 100%"> 
    </div>
  
      <div class="d-flex justify-content-center">
          <div style="background: black;display: inline-block;margin: auto;
          z-index: 3;" 
              class="px-2 position-relative">
                <div class="client_text" style="font-size: 9vw;line-height: 9vw;">
                    OUR WORK
                </div>
          </div>
      </div>
  
      <div class="px-2 px-md-5">
          <div class="d-flex justify-content-start mt-2" style="position: relative;">
              <div class="portfolioFrame">
                  <div class="content">
                        <a href="https://xoxoday.com" target="_blank" style="height: 100%;width: 100%;">
                          <!-- <div class="content-overlay"></div> -->
                          <img class="content-image" src="../../../assets/ourwork/site1c.webp">
                          <!-- <div class="content-details fadeIn-bottom">
                            <div class="d-flex justify-content-center">
                              <a href="https://xoxoday.com" target="_blank"  class="buttonhover d-flex align-items-center">
                                <div class="btnbordr"></div>
                                Visit Website 
                                  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                  </svg>
                              </a>                            
                            </div>
                          </div> -->
                        </a>    
                  </div>
              </div>
              <div style="width: 38px;"></div>
          </div>
          <div class="d-flex justify-content-end mt-2" style="position: relative;">
              <div style="width: 38px;"></div>
              <div class="portfolioFrame" style="margin-top: 10px;">
                  <div class="content">
                      <a href="https://kite.work" target="_blank" style="height: 100%;width: 100%;">
                        <!-- <div class="content-overlay"></div> -->
                        <img class="content-image" src="../../../assets/ourwork/site2c.webp">
                        <!-- <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://kite.work" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div> -->
                      </a>
                    </div>
              </div>
          </div>
          <div class="d-flex justify-content-start" style="position: relative">
              <div class="portfolioFrame" style="margin-top: 10px;">
                  <div class="content">
                      <a href="https://getbetter.co" target="_blank" style="height: 100%;width: 100%;">
                        <!-- <div class="content-overlay"></div> -->
                        <img class="content-image" src="../../../assets/ourwork/site3c.webp">
                        <!-- <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://getbetter.co" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div> -->
                      </a>
                    </div>
              </div>
              <div style="width: 38px;"></div>
          </div>
          <div class="d-flex justify-content-end mt-2" style="position: relative;">
              <div style="width: 38px;"></div>
              <div class="portfolioFrame" style="margin-top: 10px;">
                  <div class="content">
                      <a href="https://techcrumb.com" target="_blank" style="height: 100%;width: 100%;">
                        <!-- <div class="content-overlay"></div> -->
                        <img class="content-image" src="../../../assets/ourwork/site4c.webp">
                        <!-- <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://techcrumb.com" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div> -->
                      </a>
                    </div>
              </div>
          </div>
  
          <div class="d-flex justify-content-start" style="position: relative;">
              <div class="portfolioFrame" style="margin-top:10px;">
                  <div class="content"> 
                      <a href="https://cognition.link" target="_blank" style="height: 100%;width: 100%;">
                        <!-- <div class="content-overlay"></div> -->
                        <img class="content-image" src="../../../assets/ourwork/site5c.webp">
                        <!-- <div class="content-details fadeIn-bottom">
                          <div class="d-flex justify-content-center">
                          <a href="https://cognition.link" target="_blank"  class="buttonhover d-flex align-items-center">
                              <div class="btnbordr"></div>
                              Visit Website 
                              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                          </a>
                          </div>
                        </div> -->
                      </a>
                    </div>
              </div>
              <div style="width: 38px;"></div>
          </div>
          
      </div>
  </div>
</div>
