<div class="position-relative" style="z-index: 3;">
    <div class="d-flex justify-content-center">
        <div style="background: black;display: inline-block;margin: auto;
        z-index: 3;" 
            class="px-2 position-relative">
                <div class="client_text">
                    OUR WORK
                </div>
        </div>
    </div>

    <div>
        <div class="d-flex justify-content-center" style="position: relative;top:-30px">
            <div class="portfolioFrame">
                <div class="content">
                  <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank" style="height: 100%;width: 100%;">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="assets/images/p_xoxoday.png">
                    <div class="content-details fadeIn-bottom">
                      <h3 class="content-title">This is a title</h3>
                      <p class="content-text">This is a short description</p>
                    </div>
                  </a>
                </div>
                <!-- <img style="height: 100%;width: 100%;" src="assets/images/p_xoxoday.png"> -->
            </div>
            <div style="width: 38px;"></div>
            <div class="portfolioFrame" style="margin-top: 106px;">
                <div class="content">
                    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank" style="height: 100%;width: 100%;">
                      <div class="content-overlay"></div>
                      <img class="content-image" src="assets/images/p_kite.png">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                  </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="position: relative;top:-98px">
            <div class="portfolioFrame">
                <div class="content">
                    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank" style="height: 100%;width: 100%;">
                      <div class="content-overlay"></div>
                      <img class="content-image" src="assets/images/p_better.png">
                      <div class="content-details fadeIn-bottom">
                        <!-- <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p> -->
                        <a href="#" class="coolBeans">
                            Visit Website 
                        </a>
                      </div>
                    </a>
                  </div>
            </div>
            <div style="width: 38px;"></div>
            <div class="portfolioFrame" style="margin-top: 106px;">
                <div class="content">
                    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank" style="height: 100%;width: 100%;">
                      <div class="content-overlay"></div>
                      <img class="content-image" src="assets/images/p_techcrumb.png">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                  </div>
            </div>
        </div>
        
    </div>
</div>


<!-- 

<section class="resume-portfolio relative" style="background: url(assets/images/orange-bg.svg) no-repeat scroll; background-position-x: 150%; background-position-y: 80%;" id="portfolio" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="resume-title wow fadeInUp">
                    <h1 class=" pl-0 bg_brown" style="text-align: center;">Portfolios</h1>
                </div>
            </div>
            <div class="col-md-11 mx-auto">
                <div class="resume-portfolio-inner">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="resume-img wow fadeInUp">
                                <h5>Enterprise</h5>
                                <h6>Design & No-code Dev (Webflow)</h6>
                                <div class="image-one relative">
                                    <div class="reveal-image">
                                        <img src="assets/images/p_xoxoday.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="resume-image-inner">
                                    </div>
                                    <div class="resume-btn-details">
                                        <div class="resume-btn">
                                            <div class="btn-default">
                                                <a href="https://xoxoday.com" target="_blank" rel="noopener noreferrer" class="cta">
                                                    <span>Visit Website</span>
                                                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                                                        <path d="M1,5 L11,5"></path>
                                                        <polyline points="8 1 12 5 8 9"></polyline>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>                                             
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 ml-auto">
                            <div class="resume-img mt_180 wow fadeInUp">
                                <h5>FinTech</h5>
                                <h6>WebApp Design & Dev (Webflow)</h6>
                                <div class="image-two relative">
                                    <div class="reveal-image">
                                        <img src="assets/images/p_kite.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="resume-image-inner">
                                    </div>
                                    <div class="resume-btn-details">
                                        <div class="resume-btn">
                                            <div class="btn-default">
                                                <a href="https://kite.work" target="_blank" rel="noopener noreferrer" class="cta">
                                                    <span>Visit Website</span>
                                                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                                                        <path d="M1,5 L11,5"></path>
                                                        <polyline points="8 1 12 5 8 9"></polyline>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>                                             
                                    </div>
                                </div>                                    
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 mx-auto">
                <div class="resume-portfolio-inner inner-2 ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="resume-img wow fadeInUp">
                                <h5>Healthcare</h5>
                                <h6>iOS, WebApp Design</h6>
                                <div class="image-one relative">
                                    <div class="reveal-image">
                                        <img src="assets/images/p_better.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="resume-image-inner">
                                    </div>
                                    <div class="resume-btn-details">
                                        <div class="resume-btn">
                                            <div class="btn-default">
                                                <a href="https://getbetter.co" target="_blank" rel="noopener noreferrer" class="cta">
                                                    <span>Visit Website</span>
                                                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                                                        <path d="M1,5 L11,5"></path>
                                                        <polyline points="8 1 12 5 8 9"></polyline>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>                                             
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                        <div class="col-md-5 ml-auto">
                            <div class="resume-img mt_180 wow fadeInUp">
                                <h5>Marketing</h5>
                                <h6>WebApp Design, No-code Dev (Webflow, Bubble)</h6>
                                <div class="image-one relative">
                                    <div class="reveal-image">
                                        <img src="assets/images/p_techcrumb.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="resume-image-inner">
                                    </div>
                                    <div class="resume-btn-details">
                                        <div class="resume-btn">
                                            <div class="btn-default">
                                                <a href="https://techcrumb.com" target="_blank" rel="noopener noreferrer" class="cta">
                                                    <span>Visit Website</span>
                                                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                                                        <path d="M1,5 L11,5"></path>
                                                        <polyline points="8 1 12 5 8 9"></polyline>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>                                             
                                    </div>
                                </div>                                    
                            </div>                                
                        </div>
                    </div>
                </div>
                <div class="col-md-11 mx-auto">
                    <div class="resume-portfolio-inner inner-2 ">
                        <div class="row">
                            <div class="col-md-5 ml">
                                <div class="resume-img mt_180 wow fadeInUp">
                                    <h5>Marketplace</h5>
                                    <h6>WebApp Design & Dev (React, React Native)</h6>
                                    <div class="image-one relative">
                                        <div class="reveal-image">
                                            <img src="assets/images/p_cognition.png" alt="" class="img-fluid">
                                        </div>
                                        <div class="resume-image-inner">
                                        </div>
                                        <div class="resume-btn-details">
                                            <div class="resume-btn">
                                                <div class="btn-default">
                                                    <a href="https://cognition.link" target="_blank" rel="noopener noreferrer" class="cta">
                                                        <span>Visit Website</span>
                                                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                                                            <path d="M1,5 L11,5"></path>
                                                            <polyline points="8 1 12 5 8 9"></polyline>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
            </div>        
        </div>
    </div>
    </div>
</section> -->