.client_text{
    margin-top: 1vw !important;
    font-size: 5.4vw;
    line-height: 5.4vw;
    color: white;
    font-family: BrownStdBold;
}

.portfolioFrame{
    width: 454px;
    height: 641px;
    border: solid #020025 1px;
}






// OVERLAY

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  // max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

//HOVER BUTTON

// .coolBeans{
//   border-left: 2px solid currentColor;
//   color: white;
//   font-size: 18px;
//   line-height: 0.56;
//   font-weight: 900;
//   vertical-align: middle;


//   border-radius :3rem;
//   // color :yellow;
//   overflow: hidden;
//   padding :1rem 2rem;
//   position: relative;
//   text-decoration :none;
//   transition :.2s transform ease-in-out;
//   will-change :transform;
//   z-index :0;
  
//   &::after{
//     background-color: red;
//     opacity: 0;
//     border-radius: 3rem;
//     content: '';
//     display :block;
//     height :100%;
//     width :100%;
//     position :absolute;
//     left :0;
//     top :0;
//     transform :translate(-100%, 0) ;
//     transform-origin :top left;
//     transition: .2s transform ease-out;
//     will-change :transform;
//     z-index :-1;
//   }
    
//   &:hover::after{
//     transform :translate(0, 0);
//     opacity: 1;
//   }
    
//   &:hover{
//     border: 2px solid transparent;
//     // color :indigo;
//     transform :scale(1.05);
//     will-change: transform;
//   }
    
// }



//HOVER BUTTON 2
$color: red;

.buttonhover {
  font-family: BrownStdBold;
  display: inline-block;
  padding: 1rem 2.25rem;
  border-radius: 10rem;
  color: #fff;
  // text-transform: uppercase;
  text-decoration: unset !important;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
