
// FOR CAROUSEL

.carousel-container {
    width: 70vw;
    height: 80vh;
    margin: 16px auto;
}

:host ::ng-deep{
    .image-container {
        // max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .igx-carousel {
        max-width: 100%;
        width: unset;
    }

    .igx-nav-dot {
        background: black;
        box-shadow: none;
        width: 15px;
        height: 15px;
    }

    .igx-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: unset;
        height: max-content;
        bottom: auto !important;
        height: auto !important;
    }
    .igx-carousel__arrow--prev{
        display: none;
    }
    .igx-carousel__arrow--next{
        display: none;
    }

    .igx-slide img {
        object-fit: fill;
        max-width: 90%;
    }

    @media screen and (max-width: 600px) {
        .igx-carousel__inner {
            min-height: 420px !important;
        }
    }

}










///CLIENTSS


.ourclients .title{
    font-family: BrownStdBold;
    line-height: initial;
    font-size: 100px;
    text-shadow: -1px 1px 0 #020025,
    1px 1px 0 #020025,
    1px -1px 0 #020025,
    -1px -1px 0 #020025;
    color: white;
}

.ourclients .subtitle{
    font-family: BrownStdBold;
    line-height: initial;
    font-size: 35px;
    text-align: center;
    color: #020025;
}

.ourclients .wrap{
    padding:20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 9px 16px #15151557;
    border-radius: 13px;
    opacity: 1;
}

.ourclients .text{
 font-family: BrownStdLight;
 font-size: 20px;
 max-width: 600px;
}
.ourclients .name{
    font-family: BrownStdRegular;
    font-size: 20px;
    color: #020025;
}
.ourclients .subname{
    font-family: BrownStdLight;
    font-size: 16px;
    color: #020025;
}
.ourclients .ml__{
    margin-left: 630px;
}

@media screen and (max-width: 600px) {

    .ourclients .title{
        font-size: 50px;
        line-height: 3px;
    }

    .ourclients .subtitle{
        font-size: 30px;
    }


    .ourclients .text{
        font-size: 15px;
    }
    .ourclients .name{
        font-size: 20px;
    }
    .ourclients .subname{
        font-size: 16px;
    }

}

@media screen and (max-width: 930px) {
    .ourclients .ml__{
        margin-left: auto;
    }
}