<section class="ourclients p-4 p-md-5 mx-md-5 mt-4">
    <div class="title" style="line-height:100px">
        our 
    </div>
    <div class="title">
        clients 
    </div>
    <div class="subtitle mt-5 mt-md-3">
        we are grateful to have our clients love us.
    </div>
</section>

<section class="ourclients">
    <div class="mt-2 mt-md-4 position-relative">
        <igx-carousel #carousel>
            <igx-slide *ngFor="let slide of slides;">
                <div class="image-container  px-3 px-md-5 mx-0 mx-md-4">
                    <div class="wrap">
                        <div class="text">
                            “I have had the privilege of working with Gopal on our market test in India. Gopal’s passion and capabilities have made him a significant asset to the team and his ability to manage change and live the company’s core values have made him a pleasure to work with. Gopal’s resilience and persistence have led to results beyond expectations and I am proud of what he has achieved.”
                        </div>

                        <div class="name ml__ mt-3 mt-md-0">
                            John Doe
                        </div>
                        <div class="subname ml__">
                            Creative Director Amy’s
                        </div>
                    </div>
                </div>
            </igx-slide>
        </igx-carousel>
    </div>
</section>