.client_text{
    // font-size: 73px;
    margin-top: 1vw !important;
    font-size: 5.4vw;
    line-height: 5.4vw;
    color: white;
    font-family: BrownStdBold;
}

.carousel_text{
    width: 90%;
    color: red;
    font-size: 2vw;
    // line-height: 2vw;
    font-family: BrownStdBold;
    background: transparent;
    text-align: left;
}

.ourvalues_text{
    color: white;
    font-size: 30px;
    font-family: BrownStdRegular;
    // width: 518px;
    text-align: center;
}


//MOVING BOARD
.banner_container{
    width: 100%;
    overflow: hidden;
}
.scroll {
  display: flex;
  width: max-content;
    div:nth-child(1){
        animation: animate4 40s linear infinite;
    }
    div:nth-child(2){
      animation: animate41 40s linear infinite;
  }
  }
  @keyframes animate4 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-220%);
    }
  }
  @keyframes animate41 {
    from {
      transform: translateX(120%);
    }
    to {
      transform: translateX(-200%);
    }
  }

  .divider{
    background-color: #020024;
    height: 3px;
    width: 100%;
}

.clientspng{
  height: 80vh;
  width: 69.6vw;
}

@media screen and (max-width: 1100px) {
  .clientspng{
    width: 100vw;
    height: 36vh;
  }
  .logobrandspng{
    width: 100vw !important;
    height: 55vw !important;
  }
}

.logobrandspng{
  width: 69.6vw;
  background: white;
}


.carousel_text_mobile{
  width: 90%;
  color: red;
  font-size: 3vw;
  text-align: center;
  font-family: BrownStdBold;
  background: transparent;
}