<div class="position-relative" style="z-index: 3;top:-100px">
 <div style="background: black;display: inline-block;margin-left: 7.56vw;
    margin-top: 192px;z-index: 4;" 
    class="px-2 position-relative">
     <div class="client_text m-0">
        CLIENTS
     </div>
 </div>
 <div class="position-absolute" style="left:63vw;top:80px;z-index: -1">
    <img src="../../../assets/inc/FREECONSULTATION1.png" class="rotate" style="height: 13vw;width: 13vw;">
    <div class="position-absolute d-flex justify-content-center align-items-center" style="top:0;left:0;height: 100%;width: 100%;" >
        <!-- <img src="../../../assets/inc/finger.png" style="width: 4vw;height: 6vw;"> -->
    </div>
</div> 

<div class="position-absolute" style="left:66vw;top:-20px;z-index: -1">
    <img src="../../../assets/videos/triangle.png" style="height: 17vw;width: 13vw;">
</div> 

 <div style="width:50vw;height:fit-content;border: 1px solid black;
 background: white;padding: 4.4vw 2vw;margin-left: 11.5vw;z-index: 3;top: -45px;" class="client_carousel position-relative">
    <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of testimonials" class="slide">
        <div class="carousel_text">
            {{slide.text}}
        </div>
        <div class="carousel_text w-100" style="text-align: right;">
            -{{slide.client}}
        </div>
    </div>
    </ngx-slick-carousel>
 </div>

 <div class="w-100 position-relative" style="top:-45px;z-index: 2; ">
     <div class="m-auto" style="width: fit-content;">
        <img src="../../../assets/inc/client.png" style="height: 80vh;width: 69.6vw;" alt="">
     </div>
 </div>

 <div class="d-flex justify-content-center" style="margin: 2vw 0vw;">
     <img src="../../../assets/videos/logoBrands.png" alt="" style="width: 100vw;">
 </div>

 <div class="banner_container" style="margin-top:8vh;background: black;">
    <div class="divider mb-2"></div>
    <div class="scroll text4 BrownStdRegular">
        <div class="ourvalues_text">
            Our work culture represents our values. We are client-focused, easy to work with, and are driven by integrity.
            <!-- <span style="text-decoration: underline;color: white;font-size: 38px;font-weight: bold;">values</span> 
            are aligned with our actions, and they make enough voice. -->
        </div>
        <div class="ourvalues_text">
            Our work culture represents our values. We are client-focused, easy to work with, and are driven by integrity.
            <!-- <span style="text-decoration: underline;color: white;font-size: 38px;font-weight: bold;">values</span> 
            are aligned with our actions, and they make enough voice. -->
        </div>
    </div>
    <div class="divider mt-2"></div>
</div>   

</div>

