.client_text{
    font-size: 73px;
    line-height: 90px;
    color: white;
}

.carousel_text{
    width: 553px;
    // height: 247px;
    color: #FFFFFF;
    font-size: 45px;
    line-height: 55px;
    font-family: BrownStdBold;
    background: transparent;
    text-align: right;
}

.ourvalues_text{
    color: #020025;
    font-size: 38px;
    font-family: BrownStdRegular;
    // width: 518px;
    text-align: center;
}


//MOVING BOARD
.banner_container{
    width: 100%;
    overflow: hidden;
}
.scroll {
    div {
        animation: animate4 10s linear infinite;
    }
  }
  @keyframes animate4 {
    from {
      transform: translateX(82%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .divider{
    background-color: #020024;
    height: 3px;
    width: 100%;
}