// @import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-display: swap;
    font-family: "Dosis";
    src: local("Dosis"), url(./assets/fonts/Dosis/Dosis-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Dosis-Bold";
    src: local("Dosis-Bold"), url(./assets/fonts/Dosis/static/Dosis-Bold.ttf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdBold";
    src: local("BrownStdBold"), url(./assets/fonts/brownstd-cufonfonts/BrownStdBold.otf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdLight";
    src: local("BrownStdLight"), url(./assets/fonts/brownstd-cufonfonts/BrownStdLight.otf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdThin";
    src: local("BrownStdThin"), url(./assets/fonts/brownstd-cufonfonts/BrownStdThin.otf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdRegular";
    src: local("BrownStdRegular"), url(./assets/fonts/brownstd-cufonfonts/BrownStdRegular.otf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "As";
    src: local("As"), url(./assets/fonts/AuthenticSignature.ttf) format("truetype");
}


.vertical_container{
    margin-left: 120px;
    margin-right: 120px;
}
@media screen and (max-width: 600px) {
    .vertical_container{
        margin-left: 20px;
        margin-right: 20px;
    }
}

.DosisLight{
    font-family: Dosis;
}

.BrownStdRegular{
    font-family: BrownStdRegular;
}
.BrownStdLight{
    font-family: BrownStdLight;
}