// @import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-display: swap;
    font-family: "Dosis";
    src: local("Dosis"), url(./assets/fonts/Dosis/Dosis-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "DosisBold";
    src: local("DosisBold"), url(./assets/fonts/Dosis/static/Dosis-Bold.ttf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdBold";
    src: local("BrownStdBold"), url(./assets/fonts/brownstd-cufonfonts/BrownStdBold.otf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdLight";
    src: local("BrownStdLight"), url(./assets/fonts/brownstd-cufonfonts/BrownStdLight.otf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdThin";
    src: local("BrownStdThin"), url(./assets/fonts/brownstd-cufonfonts/BrownStdThin.otf) format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "BrownStdRegular";
    src: local("BrownStdRegular"), url(./assets/fonts/brownstd-cufonfonts/BrownStdRegular.otf) format("truetype");
}
// @font-face {
//     font-display: swap;
//     font-family: "As";
//     src: local("As"), url(./assets/fonts/AuthenticSignature.ttf) format("truetype");
// }
@font-face {
    font-display: swap;
    font-family: "LeagueSpartan";
    src: local("LeagueSpartan"), url(./assets/fonts/league-spartan/LeagueSpartan-Bold.otf) format("truetype");
}

.Dosis{
    font-family: Dosis;
}

.f58{
    font-size: 7vw;
    line-height: 7vw;
}

.BrownStdRegular{
    font-family: BrownStdRegular;
}
.BrownStdBold{
    font-family: BrownStdBold;
}



//CAROUSEL

.slick-slider {
    width: 88%;
    margin: auto;
    // background: rgb(14, 13, 13);
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;.slick-dots li button:before {
    width: 40px;
    background: grey !important;
    z-index: 100;
}
}

.slick-dots li button:before{
    color: white !important;
    border: black 1px solid;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    line-height: 26px !important;
}
.slick-dots li{
    width: 10px !important;
    height: 10px !important;
}
.client_carousel .slick-dots {
    // left: -16vw !important ;
}


@media screen and (max-width: 600px) {
    .slick-dots li button:before{
        color: white !important;
        border: black 1px solid;
        border-radius: 50%;
        width: 7px !important;
        height: 7px !important;
        line-height: 33px !important;
    }
    .slick-dots li{
        width: 7px !important;
        height: 7px !important;
    }
}

.rotate{
    animation: rotate 40s infinite linear;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.modal-backdrop{
    z-index: 2 !important;
}

//OVERSCROLL
html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}
html, body {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
}

*{
    scroll-behavior: smooth;
}


.mobile{
    display: none;
}

@media screen and (max-width: 1100px) {
    .mobile{
        display: block !important;
    }
}

.mobile-flex{
    display: none;
}
@media screen and (max-width: 1100px) {
    .mobile-flex{
        display: flex;
    }
}

.desktop{
    display: block;
}
@media screen and (max-width: 1100px) {
    .desktop{
        display: none !important;
    }
}

.desktop-flex{
    display: flex;
}
@media screen and (max-width: 1100px) {
    .desktop-flex{
        display: none !important;
    }
}