<div class="container">
    <div class="m-md-5 m-1 p-0 p-md-5"></div>
    <div class="detail_text mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in
    </div>
    <div class="m-md-5 m-1 p-0 p-md-5"></div>

    <div class="d-flex" *ngFor="let item of [0,1,2];let i = index">
        <div class="side_hr position-relative">
            <div class="bulb"></div>
        </div>

        <div>
            <div class="d-flex card_ mt-2 mt-md-5" [ngClass]="{'mt-2':i!=0?true:false,'mt-md-5':i!=0?true:false}">
                <div>
                    <img src="./assets/images/blog1.png" alt="" width="350px" height="100%" style="min-height: 400px;">
                </div>
                <div class="p-1 p-md-5">
                    <div class="card_title">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    </div>
                    <div class="card_subtitle mt-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    </div>
                    <div class="card_subtitle text-start mt-4">
                        June-23-2021
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-5 p-5"></div>
</div>