.redframe{
    height: 52vw;
    background: #FF2121;
}

.blackframe{
    width: 35.7vw;
    // height: 1258px;
    height: 85vw;
    background: black;
    margin-top: 11vw;
}

.blackframe .text{
    padding: 5vw;
}

.blackframe .text span{
    font-size: 2vw;
    line-height: 2.1vw;
    color: white;
    text-align: left;
    font-family: BrownStdRegular;
}

.whitecircle{
    background: white;
    border-radius: 50%;
    height: 8.1vw;
    width: 8.1vw;
}

.sharingcreativity{
    color: #000000;
    font-family: LeagueSpartan;
    font-size: 12.25vw;
    margin-right: 11.55vw;
    text-align: right;
    letter-spacing: 7px;
    // margin-right: 100px;
}
#rotatetext{
    animation: rotate 40s infinite linear;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


//SHINING ANIM

  
  .sharingcreativity {
    position: relative;
    // font-family: sans-serif;
    // text-transform: uppercase;
    // font-size: 2em;
    // letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animateshin 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animateshin {
    0% {
      background-position: -500%;
      
    }
    100% {
      background-position: 500%;
    }
  }