.redframe{
    height: 54vw;
    background: #FF2121;
}

.blackframe{
    width: 30.7vw;
    // height: 1258px;
    height: 95vw;
    background: black;
    margin-top: 11vw;
}

.blackframe .text{
    padding: 5vw;
}

.blackframe .text span{
    font-size: 2vw;
    line-height: 2.1vw;
    color: white;
    text-align: left;
    font-family: BrownStdRegular;
}

.whitecircle{
    background: white;
    border-radius: 50%;
    height: 8.1vw;
    width: 8.1vw;
}

.sharingcreativity{
    color: #000000;
    font-family: LeagueSpartan;
    font-size: 14.65vw;
    text-align: right;
    letter-spacing: 7px;
    // margin-right: 100px;
}
#rotatetext{
    animation: rotate 40s infinite linear;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}