
<div class="desktop">
    <div style="height:calc( 10vh - 15px );"></div>
    <div class="position-relative" style="z-index: 3">
        <div class="redframe" id="redframe">
            <div class="d-flex">
                <div style="width: 50vw;" class="position-relative">
                    <div class="d-flex align-items-center position-absolute justify-content-center w-100" style="height: 54vw;top:0px">
                        <div>
                            <img style="border-radius: 50%;width: 37vw;height: 37vw;" 
                            src="../../../assets/videos/asianboy.jpg">
                        </div>
                    </div>
                    <div class="d-flex align-items-center position-absolute justify-content-center w-100" style="height: 54vw;top:0px">
                        <div>
                            <img style="width: 51vw;height: 51vw;"
                            src="../../../assets/inc/boytext.png" id="rotatetext">                    
                        </div>
                    </div>
                </div>
                <div style="margin-left: auto;margin-right: 10vw;">
                    <div class="blackframe">
                        <div class="text">
                            <span>
                                10% of every penny we make as revenue up till 31st December 2021 goes into the service of underprivileged children who are naturally creative and talented but lack proper resources.
                            </span>
                        </div>
    
                        <div>
                            <div class="d-flex justify-content-center">
                                <div class="whitecircle d-flex justify-content-center align-items-center">
                                    <img src="../../../assets/incubrassets/hands.png" style="height: 8vw;width: 8vw;">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    
        <div style="height:9vw;"></div>
        <div class="sharingcreativity" style="margin-right: 10.9vw;">
            SHA<span style="color: white;">RIN</span><span style="color:white">G</span> 
        </div>
        <div class="sharingcreativity" >
            CREATI<span style="color: white;letter-spacing: 15px;">
                <span></span><span>V</span>ITY</span>
        </div>
    
        <div style="height:calc( 10vh - 25px );"></div>
    
        <div class="d-flex justify-content-center" style="position: relative;">
            <div>
                <div style="font-family: BrownStdRegular;text-align: center;font-size: 22px;">
                    “ Creativity is the fundamental requirement and foundation of innovation and marketing. 
                </div>
                <div style="font-family: BrownStdRegular;text-align: center;font-size: 22px;">
                    We conduct free workshops and offer design audits as a token to give back to the community and
                </div>
                <div style="font-family: BrownStdRegular;text-align: center;font-size: 22px;">
                    spread creativity. Please contact us if you have something to be shared and reviewed ”            
                </div>
            </div>
        </div>
    
        <div style="height:10vh;"></div>
    </div>
</div>



<div class="mobile">
    <div style="height:calc( 10vh - 15px );"></div>
    <div  class="position-relative"
    style="background: black;z-index: 3;line-height: initial;
    text-align: center;color: white;font-size: 9vw;font-family: BrownStdRegular;">
        SHARING CREATIVITY
    </div>
    <div class="position-relative" style="z-index: 3">
        <div class="redframe" id="redframe">
            <div class="d-flex justify-content-center">
                <div style="width: 50vw;" class="position-relative">
                    <div class="d-flex align-items-center position-absolute justify-content-center w-100" style="height: 54vw;top:0px">
                        <div>
                            <img style="border-radius: 50%;width: 37vw;height: 37vw;" 
                            src="../../../assets/videos/asianboy.jpg">
                        </div>
                    </div>
                    <div class="d-flex align-items-center position-absolute justify-content-center w-100" style="height: 54vw;top:0px">
                        <div>
                            <img style="width: 51vw;height: 51vw;"
                            src="../../../assets/inc/boytext.png" id="rotatetext">                    
                        </div>
                    </div>
                </div>`
            </div>
        </div>

        <div style="background: black;padding: 5vw;color: white;text-align: center;
        font-size: 3.5vw;font-family: BrownStdRegular;border-bottom: 2px solid grey;">
            10% of every penny we make as revenue up till 31st December 2021 goes into the service of underprivileged children who are naturally creative and talented but lack proper resources.
        </div>
    
    </div>
</div>