<div class="position-relative" style="z-index: 3;">

    <div class="redframe" style="margin-top: 192px;">
        <div class="d-flex">
            <div style="width: 720px;" class="position-relative">
                <div class="d-flex align-items-center position-absolute justify-content-center w-100" style="height: 770px;top:0px">
                    <div>
                        <img style="border-radius: 50%;" 
                        src="../../../assets/inc/boy.jpg" width="507" height="507">
                    </div>
                </div>
                <div class="d-flex align-items-center position-absolute justify-content-center w-100" style="height: 770px;top:0px">
                    <div>
                        <img src="../../../assets/inc/boytext.png" width="707" height="707" id="rotatetext">                    
                    </div>
                </div>
            </div>
            <div style="margin-left: auto;margin-right: 150px;">
                <div class="blackframe">
                    <div class="text">
                        <span>
                            10% of every penny we make as revenue till December 31st 2021 goes to servicing and skilling the unprivileged children who have a great natural creative talent but limited resources.
                        </span>
                    </div>

                    <div>
                        <div class="d-flex justify-content-center">
                            <div class="whitecircle d-flex justify-content-center align-items-center">
                                <img src="../../../assets/incubrassets/hands.png">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <div style="height: 123px;"></div>
    <div class="sharingcreativity" >
        SHA<span style="color: white;">RIN</span>G 
    </div>
    <div class="sharingcreativity" >
        CREAT<span style="color: white;">IVIT</span>Y
    </div>
</div>
