.detail_text{
    font-size: 3.2vw;
    color: #020025;
    font-weight: 300;
    font-family: "DosisBold";
}

.card_{
    border: 1px solid #000000;
    overflow: hidden;
    border-radius: 11px;
}

.card_title{
    font-family: BrownStdBold;font-size: 2vw;
}
.card_subtitle{
    font-family: BrownStd;font-size: 1.2vw;margin-top: 2.8vw;
    margin-bottom: 2vw;
    height: 10vw;
}
.datetext{
    margin-top: auto;
}


.img{
    width: 30vw;
    min-height: 400px;
}

@media screen and (max-width: 770px) {
    .img{
        width: 100%;
        min-height: 200px;
    }   

    .detail_text{
        font-size: 23px;
        line-height: 26px;
        margin-bottom: 18px;
    }
    
}



@media screen and (max-width: 770px) {
    .card_title{
        font-size: 4.5vw;
    }
    .card_subtitle{
        margin-top: 3.2vw;
        font-size: 3.8vw;
        height: 43vw;
    }
    .datetext{
        margin-top: 3.2vw;
        font-size: 3.8vw;
    }
    .headertitle{
        font-size: 5.8vw !important;
    }
}

.headertitle{
    font-family:DosisBold;font-size: 2.7vw;
}