.client_text{
    margin-top: 1vw !important;
    font-size: 5.4vw;
    line-height: 5.4vw;
    color: white;
    font-family: BrownStdBold;
}
.blog_frame{
    width: 371px;
    height: 463px;
    border: 1px solid #000000;
    background: white;
}

.blog_text{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    font-family: BrownStdBold;
}

.read_more{
    margin-top: 100px;
    color: #000000;
    font-size: 28px;
    font-family: BrownStdBold;
    text-decoration: underline;
}

.blog_frame_mobile{
    width: 100%;
    height: auto;
    border: 1px solid #C4C4C4;
    background: #C4C4C4;
}

.blog_text_mobile{
    color: black;
    font-size: 4vw;
    line-height: 4.3vw;
    text-align: center;
    font-family: BrownStdBold;
    font-weight: 800;

}

.client_text_mobile{
    margin-top: 1vw !important;
    font-size: 9vw;
    line-height: 9vw;
    color: white;
    font-family: BrownStdBold;
}