<div class="position-relative" style="z-index: 3;">
    <div style="background: black;display: inline-block;margin-left: 74px;
        margin-top: 192px;z-index: 3;" 
        class="px-2 position-relative">
            <div class="client_text">
                BLOGS & INSIGHTS
            </div>
    </div>

    <div class="position-relative" style="top:-15px">
        <div class="d-flex justify-content-center">
            <div class="blog_frame position-relative" style="z-index: 1;"></div>
            <div class="blog_frame position-relative" 
                style="left: -20px;margin-top: 83px;z-index: 3;"></div>
            <div class="position-relative" style="left: -40px;z-index: 2;">
                <div class="blog_frame" 
                style="background: #5C5C5C;border-color: #5C5C5C;">
                    <div class="blog_text">
                        "We have summed up the new future to give you a quick 
                        insight about the current market trends, potential growth factors and ways to leverage 
                        evolutionary 
                        technology."
                    </div>
                </div>

                <div class="text-center read_more">
                    read more
                </div>
            </div>
        </div>
    </div>

    <div class="position-absolute w-100" style="top: 480px;">
        <img src="../../../assets/inc/mesh3.png" height="700px" style="width: 100%"> 
    </div>
</div>  